*{
    padding: 0;
    margin: 0;
    font-family: Raleway, 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65rem;
    background-color: rgba(241, 241, 241, 1);
}

header{
    background-color: rgba(241, 241, 241, 1);
    height: 6rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    width: 100%;
    margin: 0 2rem;
    justify-content: space-between;
    align-items: baseline;
}

nav h1{
    min-width: 29.125rem;
}

.about{
    display: flex;
    justify-content: space-between;
    width: 28rem;
    margin-right: 2rem;
    min-width: 28rem;
}

.nombre{
    font-weight: bold;
    font-size: 2.2rem;
}

.titulo{
    font-weight: normal;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* necesario para que .color-change absoluta se posicione respecto a este */
    flex: 1;
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me{
    height: 100%;
    width: 45%;
    background-color: hsl(31, 38%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.me .titulo{
    text-align: center;
}

.me .name{
    text-align: center;
    width: 6rem;
}

.me hr{
    width: 40%;
    background-color: black; height: 1px; border: 0;
}

.me *{
    margin-top: 2rem;
}

.foto_personal{
    border-radius: 100%;
    width: 13rem;
    margin-top: 2rem;
}

.socials{
    background-color: white;
    height: 3rem;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials img{
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.socials a{
    margin: 0;
}

.about-me{
    color: white;
    background-color: black;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}


.color-change {
    background-color: hsl(31, 38%, 79%);
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: -1; /* para que quede detrás de .me y .about-me */
}

footer{
    height: 6rem;
    background-color: rgba(241, 241, 241, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: light;
    color: gray;
}

footer *{
    margin: 0 1rem;
}

.footer_box{
    text-align: center;
    width: 14rem;
}

.footer_box span{
    font-weight: bold;
}

.right_side{
    display: flex;
    margin-right: 2rem;
}

.box{
    display: flex;
    background-color: white;
    height: 34rem;
    width: 44rem;
    margin-right: 6rem;
    flex-shrink: 0;
}