*{
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65rem;
    background-color: yellow;
}

header{
    background-color: red;
    height: 6rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* necesario para que .color-change absoluta se posicione respecto a este */
    flex: 1;
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


.me{
    height: 100%;
    width: 45%;
    background-color: aqua;
}

.about-me{
    color: white;
    background-color: black;
    height: 100%;
    width: 55%;
}


.color-change {
    background-color: salmon;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: -1; /* para que quede detrás de .me y .about-me */
}

footer{
    height: 6rem;
    background-color: white;
}

.box{
    display: flex;
    background-color: white;
    height: 34rem;
    width: 44rem;
    margin-right: 6rem;
}